<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/profile_styles.css') }}"/>
{% endblock stylesheet %}
{% import 'macros.html' as macro %}

{% if user %}
<div class="container">
    <div class="loginHeader">
        {% if logout %}
            <img class="logout_img" src="/static/images/ic_logout.svg" alt="Logout of account" onclick="window.location.href='{{ url_for( 'auth.logout' ) }}';">
        {% endif %}
        {% if user.profile_pic_path != 'no_path' %}
            <img class="avatar_img" src="{{user.profile_pic_path}}" alt="Avatar image">
        {% else %}
            <img class="avatar_img" src="/static/images/ic_account_circle.svg" alt="Avatar image">
        {% endif %}
        <p>{{user.username}}</p>
        <div class="user_profile_info">
            <p class="user_info_item">{{user.email}}</p>
            <p class="user_info_item">{{timestamp}}</p>
        </div>
    </div>
    <div class="mainAboutSection">
        <p class="informative_text">Blogs</p>
        <div class="info_list">
            {{ macro.display_users_blogs(blogs) }}
        </div>

    </div>

</div>


{% else %}
<div class="generic_container">
    <p>You haven't logged in yet. <a href="{{ url_for('auth.login') }}">Login</a> <br> <a
            href="{{ url_for('auth.signup') }}">Sign Up</a></p>
</div>
{% endif %}

</body>
</html>