:root{
    --primary-color: #dcdcdc;
    --accent-color: #FF5722;
    box-sizing: border-box;
    --basic-font: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

*{
    margin: 0;
    padding: 0;
    font-family: var(--basic-font);
}

.block_container{
    padding-top: 15vh
}

.main_nav_container{
    display: flex;
    flex-direction: column;
    position: fixed;
    margin-top: 0;
    width: 100%;
    background-color: #fff;
}

.nav_container{
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #fff;
    padding: 2.5% 5%;
}

.home_nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 18px;
    font-weight: 500;
    font-family: var(--basic-font);
    background-color: #fff;
    transition-duration: 0.4s;
    align-items: center;
}

.home_nav > img{
    margin-right: 1vw;
}

.home_nav:hover{
    cursor: pointer;
}

.nav_opts_container{
    display: flex;
    flex-direction: row;
    padding-right: 5vw;
    align-items: center;
    justify-content: space-around;
}

.new_blog_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.new_blog_container > img{
    width: 3.5vw;
    height: 3.5vh;
    margin-right: 0;
}

.new_blog_container > p{
    padding-right: 0.65vw;
}

.curved_btn{
    background-color: #fff;
    border-radius: 50px;
    border-width: 1px;
    border-color: #dcdcdc;
    border-style: solid;
    transition-duration: 0.4s;
    padding: 0.8vh 0.75vw; /* vh */
}

.curved_btn:hover{
    cursor: pointer;
    background-color: var(--primary-color);
}

.login_btn{
    padding-left: 0.5vw;
    margin-left: 1vw;
    margin-right: 1vw;
    padding: 1vh 2vw; /* vh */
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--primary-color);
    font-size: 15px;
}

.login_btn:hover{
    cursor: pointer;
    background:rgba(191, 191, 191, 0.3);
}

.login_btn:active{
    cursor: pointer;
    background:rgba(191, 191, 191, 1);
}

.list{
    height: 100%;
    width: 70%;
    margin-top: 0%;
    margin-left: 10%;
    left: 0;
    display: flex;
    flex-direction: column;
}

.blog_item_container{
    display: flex;
    flex-direction: column;
}

.blog_item_container:active{
    background:rgba(191, 191, 191, 0.4);
}

.blog_item_title_txt{
    margin-bottom: 1vh;
    font-size: 17px;
    font-weight: 550;
    margin-top: 0.5vh;
    cursor: default;
}

.blog_item_description_txt{
    color: #a6a6a6;
    cursor: default;
}

.blog_item_timestamp_txt{
    font-size: 15px;
    color: #000;
    cursor: default;
    text-align: center;
    align-self: center;
}

.divider{
    width: 90%;
    height: 1px;
    background-color: var(--primary-color);
    align-self: flex-end;
    margin-right: 1.5vw;
    margin-top: 0.25vh;
    margin-bottom: 1vh;
}

.blog_item_info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1.5vh;
}

.blog_item_opts{
    display: flex;
    flex-direction: row;
}

.blog_item_opt_container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    padding: 0.5vh 1.5vw;
}

.blog_item_opt_container:hover{
    cursor: pointer;
}

.blog_item_opt_container:active{
    cursor: pointer;
    border-radius: 10px;
    background:rgba(191, 191, 191, 0.5);
}

.blog_item_opt_container > p{
    margin-left: 0.5vw;
    font-weight: bold;
}
