{% extends 'base.html' %}

{% block content %}

    <div class="block_container">
        <p><br></p>
        <div class="list">
            <div class="blog_item_container">
                <p class="blog_item_title_txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, corrupti.</p>
                <p class="blog_item_description_txt">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas architecto distinctio eaque cum id assumenda expedita voluptatum adipisci quo ad nobis inventore, consequatur maiores nostrum cumque doloremque voluptates? Est illum laboriosam atque. Aliquam vitae libero temporibus dolor qui!</p>
                <div class="blog_item_info">
                    <p class="blog_item_timestamp_txt">Published : 10/02/18 at 17:02</p>
                    <div class="blog_item_opts">
                        <div class="blog_item_opt_container">
                            <img src="/static/images/ic_save.svg" alt="Add this blog to bookmarks">
                            <p>2</p>
                        </div>
                        <div class="blog_item_opt_container">
                            <img src="/static/images/ic_comments.svg" alt="View the blog's comments">
                            <p>10</p>
                        </div>
                    </div>
                </div>
                <div class="divider"></div>
            </div>
            <div class="blog_item_container">
                <p class="blog_item_title_txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, corrupti.</p>
                <p class="blog_item_description_txt">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas architecto distinctio eaque cum id assumenda expedita voluptatum adipisci quo ad nobis inventore, consequatur maiores nostrum cumque doloremque voluptates? Est illum laboriosam atque. Aliquam vitae libero temporibus dolor qui!</p>
                <div class="blog_item_info">
                    <p class="blog_item_timestamp_txt">Published : 10/02/18 at 17:02</p>
                    <div class="blog_item_opts">
                        <div class="blog_item_opt_container">
                            <img src="/static/images/ic_save.svg" alt="Add this blog to bookmarks">
                            <p>2</p>
                        </div>
                        <div class="blog_item_opt_container">
                            <img src="/static/images/ic_comments.svg" alt="View the blog's comments">
                            <p>10</p>
                        </div>
                    </div>
                </div>
                <div class="divider"></div>
            </div>
            <div class="blog_item_container">
                <p class="blog_item_title_txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, corrupti.</p>
                <p class="blog_item_description_txt">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas architecto distinctio eaque cum id assumenda expedita voluptatum adipisci quo ad nobis inventore, consequatur maiores nostrum cumque doloremque voluptates? Est illum laboriosam atque. Aliquam vitae libero temporibus dolor qui!</p>
                <div class="blog_item_info">
                    <p class="blog_item_timestamp_txt">Published : 10/02/18 at 17:02</p>
                    <div class="blog_item_opts">
                        <div class="blog_item_opt_container">
                            <img src="/static/images/ic_save.svg" alt="Add this blog to bookmarks">
                            <p>2</p>
                        </div>
                        <div class="blog_item_opt_container">
                            <img src="/static/images/ic_comments.svg" alt="View the blog's comments">
                            <p>10</p>
                        </div>
                    </div>
                </div>
                <div class="divider"></div>
            </div>
            <div class="blog_item_container">
                <p class="blog_item_title_txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, corrupti.</p>
                <p class="blog_item_description_txt">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas architecto distinctio eaque cum id assumenda expedita voluptatum adipisci quo ad nobis inventore, consequatur maiores nostrum cumque doloremque voluptates? Est illum laboriosam atque. Aliquam vitae libero temporibus dolor qui!</p>
                <div class="blog_item_info">
                    <p class="blog_item_timestamp_txt">Published : 10/02/18 at 17:02</p>
                    <div class="blog_item_opts">
                        <div class="blog_item_opt_container">
                            <img src="/static/images/ic_save.svg" alt="Add this blog to bookmarks">
                            <p>2</p>
                        </div>
                        <div class="blog_item_opt_container">
                            <img src="/static/images/ic_comments.svg" alt="View the blog's comments">
                            <p>10</p>
                        </div>
                    </div>
                </div>
                <div class="divider"></div>
            </div>
            <div class="blog_item_container">
                <p class="blog_item_title_txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, corrupti.</p>
                <p class="blog_item_description_txt">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas architecto distinctio eaque cum id assumenda expedita voluptatum adipisci quo ad nobis inventore, consequatur maiores nostrum cumque doloremque voluptates? Est illum laboriosam atque. Aliquam vitae libero temporibus dolor qui!</p>
                <div class="blog_item_info">
                    <p class="blog_item_timestamp_txt">Published : 10/02/18 at 17:02</p>
                    <div class="blog_item_opts">
                        <div class="blog_item_opt_container">
                            <img src="/static/images/ic_save.svg" alt="Add this blog to bookmarks">
                            <p>2</p>
                        </div>
                        <div class="blog_item_opt_container">
                            <img src="/static/images/ic_comments.svg" alt="View the blog's comments">
                            <p>10</p>
                        </div>
                    </div>
                </div>
                <div class="divider"></div>
            </div>
            <div class="blog_item_container">
                <p class="blog_item_title_txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, corrupti.</p>
                <p class="blog_item_description_txt">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas architecto distinctio eaque cum id assumenda expedita voluptatum adipisci quo ad nobis inventore, consequatur maiores nostrum cumque doloremque voluptates? Est illum laboriosam atque. Aliquam vitae libero temporibus dolor qui!</p>
                <div class="blog_item_info">
                    <p class="blog_item_timestamp_txt">Published : 10/02/18 at 17:02</p>
                    <div class="blog_item_opts">
                        <div class="blog_item_opt_container">
                            <img src="/static/images/ic_save.svg" alt="Add this blog to bookmarks">
                            <p>2</p>
                        </div>
                        <div class="blog_item_opt_container">
                            <img src="/static/images/ic_comments.svg" alt="View the blog's comments">
                            <p>10</p>
                        </div>
                    </div>
                </div>
                <div class="divider"></div>
            </div>
            <div class="blog_item_container">
                <p class="blog_item_title_txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, corrupti.</p>
                <p class="blog_item_description_txt">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas architecto distinctio eaque cum id assumenda expedita voluptatum adipisci quo ad nobis inventore, consequatur maiores nostrum cumque doloremque voluptates? Est illum laboriosam atque. Aliquam vitae libero temporibus dolor qui!</p>
                <div class="blog_item_info">
                    <p class="blog_item_timestamp_txt">Published : 10/02/18 at 17:02</p>
                    <div class="blog_item_opts">
                        <div class="blog_item_opt_container">
                            <img src="/static/images/ic_save.svg" alt="Add this blog to bookmarks">
                            <p>2</p>
                        </div>
                        <div class="blog_item_opt_container">
                            <img src="/static/images/ic_comments.svg" alt="View the blog's comments">
                            <p>10</p>
                        </div>
                    </div>
                </div>
                <div class="divider"></div>
            </div>
            <div class="blog_item_container">
                <p class="blog_item_title_txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, corrupti.</p>
                <p class="blog_item_description_txt">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas architecto distinctio eaque cum id assumenda expedita voluptatum adipisci quo ad nobis inventore, consequatur maiores nostrum cumque doloremque voluptates? Est illum laboriosam atque. Aliquam vitae libero temporibus dolor qui!</p>
                <div class="blog_item_info">
                    <p class="blog_item_timestamp_txt">Published : 10/02/18 at 17:02</p>
                    <div class="blog_item_opts">
                        <div class="blog_item_opt_container">
                            <img src="/static/images/ic_save.svg" alt="Add this blog to bookmarks">
                            <p>2</p>
                        </div>
                        <div class="blog_item_opt_container">
                            <img src="/static/images/ic_comments.svg" alt="View the blog's comments">
                            <p>10</p>
                        </div>
                    </div>
                </div>
                <div class="divider"></div>
            </div>
        </div>
    </div>

{% endblock %}