{% macro display_blogs(blogs_list) %}

    {% for blog in blogs_list %}
        <div class="blog_item_container" onclick="window.location.href='{{ url_for( 'main.view_blog', blog_id=blog.id ) }}';">
            <p class="blog_item_title_txt">{{blog.title}}</p>
            <p class="blog_item_description_txt">{{blog.description}}</p>
            <div class="blog_item_info">
                <p class="blog_item_timestamp_txt">Published : {{blog.timestamp}}</p>
                <div class="blog_item_opts">
                    <div class="blog_item_opt_container hide_element">
                        <img src="/static/images/ic_save.svg" alt="Add this blog to bookmarks">
                        <p>{{blog.saves}}</p>
                    </div>
                    <div class="blog_item_opt_container">
                        <img src="/static/images/ic_comments.svg" alt="View the blog's comments">
                        <p>{{blog.comments}}</p>
                    </div>
                </div>
            </div>
            {%- if not loop.last %}
                <div class="divider"></div>
            {% endif %}
        </div>
    {% endfor %}

{% endmacro %}

{% macro show_pitches_comments(comments_list) %}
    {% for comment in comments_list %}
        <div class="comment_item_container">
            <p class="comment_text_el">{{comment.comment_txt}}</p>
            <p> - <a href="{{ url_for('main.go_to_profile', user_id=comment.creator_id) }}">{{comment.creator_id}}</a></p>
        </div>
    {% endfor %}
{% endmacro %}

