<div>
    {% block styles %}
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/navbar_styles.css')}}">
    {% endblock %}

    <div class="main_nav_container">
        <div class="nav_container">
            <div class="home_nav" onclick="window.location.href='{{ url_for( 'main.index' ) }}';">
                <img src="/static/images/ic_logo.svg" alt="Navigate to home">
                <p class="home_txt">Blogg</p>
            </div>
            <div class="nav_opts_container">
                <div class="new_blog_container curved_btn" onclick="window.location.href='{{ url_for( 'main.new_blog' ) }}';">
                    <img src="/static/images/ic_add.svg" alt="Create a blog">
    <!--                <p class="plus_txt">+</p>-->
                    <p>New Blog</p>
                </div>
                {% if username %}
                    <div class="login_btn" onclick="window.location.href='{{ url_for( 'main.view_profile', user_id=user_id ) }}';">
                        <p>{{username}}</p>
                    </div>
                {% else %}
                    <div class="login_btn" onclick="window.location.href='{{ url_for( 'auth.login' ) }}';">
                        <p>LOGIN</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>


</div>